@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DIN PRO BOLD";
  src: url("../styles/fonts/DINPro-Bold_13934.ttf");
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
}

.swiper-pagination-fraction.swiper-pagination.swiper-pagination-horizontal {
  width: 2.9rem !important;
  height: auto !important;
  position: absolute !important;
  left: unset !important;
  right: 0 !important;
  margin-right: 0.75rem;
  background-color: rgb(0, 0, 0, 0.6);
  color: white;
  border-radius: 10%;
  font-weight: 700;
  padding: 2px 1px 4px 1px;
  font-size: 14px;
}

@media screen and (min-width: 767px) {
  .pac-item {
    font-size: 20px;
  }
  .pac-item-query {
    font-size: 20px;
  }

  .swiper-pagination-fraction.swiper-pagination.swiper-pagination-horizontal {
    width: 3.9rem !important;
    height: auto !important;
    position: absolute !important;
    left: unset !important;
    right: 0 !important;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
    background-color: rgb(0, 0, 0, 0.6);
    color: white;
    border-radius: 10%;
    font-weight: 700;
    padding: 4px 3px 7px 3px;
    font-size: 18px;
  }
}

/* Price Range */
input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  /* color: red; */
  -webkit-appearance: none;
  @apply bg-indigo-600;

  /* @apply w-6 h-6 appearance-none pointer-events-auto; */
}
